__pycache__
logs
*.gif
run
build*

misc
.*
!.vscode
!.gitignore
!.clang-format

# HLS Projects
syn
impl
verilog
vhdl

*.xml
*.dat
*.log
*.jou
*.zip

# vivado
*.cache
*.gen
*.ip_user_files
*.runs

# Generated
generated*
